#  Local .terraform directories
**/.terraform/*

# .tfstate files
#*.tfstate
#*.tfstate.*

# .tfvars files
*.tfvars

# dont commit your openstack rc file
/*openrc.sh

# dont commit keys for certs
*.key
