server {
    listen 80;
    listen [::]:80;
    server_name ${NGINX_HOST};
    return 301 https://${NGINX_HOST}$request_uri;
}

server {
    listen 443 ssl http2 default_server;
    listen [::]:443 ssl http2 default_server;
    server_name ${NGINX_HOST};
    error_page 497 https://${NGINX_HOST}$request_uri;

    ssl_certificate     certs/chained.crt;
    ssl_certificate_key certs/jenkins.key;
    ssl_protocols       TLSv1.2;
    ssl_prefer_server_ciphers on;
    # From https://gist.github.com/gavinhungry/7a67174c18085f4a23eb
    ssl_ciphers EECDH+ECDSA+AESGCM:EECDH+aRSA+AESGCM:EECDH+ECDSA+SHA512:EECDH+ECDSA+SHA384:EECDH+ECDSA+SHA256:ECDH+AESGCM:ECDH+AES256:DH+AESGCM:DH+AES256:RSA+AESGCM:!aNULL:!eNULL:!LOW:!RC4:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS;
    ssl_dhparam /etc/ssl/dhparam.pem;
    ssl_session_cache shared:TLS:2m;

    location / {
        proxy_set_header        Host $host:$server_port;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;

        # Fix the "It appears that your reverse proxy set up is broken" error.
        proxy_pass          http://master:8080;
        proxy_read_timeout  90s;

        proxy_redirect      http://${NGINX_HOST} https://${NGINX_HOST};

        # Required for new HTTP-based CLI
        proxy_http_version 1.1;
        proxy_request_buffering off;
        # workaround for https://issues.jenkins-ci.org/browse/JENKINS-45651
        add_header 'X-SSH-Endpoint' '${NGINX_HOST}:50022' always;
        add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains';
    }
}
